<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <style>
      body {
        text-align: center;
      }
      h1, p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <h1> <%= @artist.name %> </h1>
    <p>
      genre: <%= @artist.genre %>
    </p>
  </body>
</html>