<form action="/artist_created" method="POST">
  <label for="name">Title:</label>
  <input type="text" name="name" id="name">
  
  <label for="genre">Release Year:</label>
  <input type="text" name="genre" id="genre">

  <input type="submit" value="Submit the form">
</form>